<!DOCTYPE html>
<html lang="ja"></html>
<html>
  <%- include('_head', {meta: {title: "オンラインボッチャ"}}) %>
 
 
 
  <input type="hidden" id="textName" value=<%- data.name %>>
  <input type="hidden" id="teamRed" value=<%- data.team.red %>>
  <input type="hidden" id="teamBlue" value=<%- data.team.blue %>>
  <input type="hidden" id="teamWhite" value=<%- data.team.white %>>
  <input type="hidden" id="sRingh" value=<%- data.switch.right %>>
  <input type="hidden" id="sLeft" value=<%- data.switch.left %>>
  <input type="hidden" id="sUp" value=<%- data.switch.up %>>
  <input type="hidden" id="sDown" value=<%- data.switch.down %>>
  <input type="hidden" id="sIgnt" value=<%- data.switch.ign %>>

  <body　oncopy='return false;'>
      <!--文字の表示-->
      <div class="wrap">
        <div class="print">
          <div class="led">
            <br><br>
            <h3 class="text-center">ボッチャプレイヤーは君だ！ </h3>
            <form method="POST" action="/logout">
              <input type="submit" id="logout" value="交代！"class = "Sblue_btn"/>
              <input type="hidden" id="appsb" name="appsb" value=<%- appsb %>>
            </form>
          </div>
          <br><br>
          <div>
            <input type="text" id="text" value="" placeholder="お名前は？">
            <button class="btn cp_btn" id="showtime">決まり！</button>
          </div>
        </div>
        <div class="led">
          <h3 class="text-center">どちらのチーム？</h3>
          <button class="btn red_btn" id="red">赤チーム</button>
          <button class="btn blue_btn" id="blue">青チーム</button>
        </div>
        <br><br>
        <div class="led">
          <h3 class="text-center">どこを狙う？</h3>
          <button class="btn position_btn" id="left">左へ</button>
          <button class="btn position_btn" id="right">右へ</button>
          <br><br>
          <button class="btn position_btn" id="up">上へ</button>
          <button class="btn position_btn" id="down">下へ</button>
          <br><br>
          <br>
          <h3 class="text-center">最後は思いっきり！</h3>
          <button class="btn cp_btn" id="ignition">発射！</button>
        </div>

    <script src="/javascripts/main.js"></script>
  </body>
  <style>
  
    </style>
</html>